.jumbotron {
  background-color: rgba(0, 191, 255, 0.7);
}


#app { position: relative; background-size: cover; 
background-image: url(/storage/cover_images/bg.jpg); }

.zoom-effect-container {
    float: left;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
}

.image-card {
  position: absolute;
  top: 0;
  left: 0;
  
}

.image-card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.zoom-effect-container:hover .image-card img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

#createthread {
	margin: 5px 0 14px 20px;
}

#createpost {
	margin: 5px 0 14px 15px;
}

h4 {
	margin-bottom: 24px;
}

#editthread{
	margin-left: 550px;
}

.liked{
    color:red;
}

.dp img{
	max-width: 250px;
 max-height: 250px;
}

#maps {
  	max-width: 500px;
 max-height: 500px;
  margin-left: 550px;
}

/*Footer*/

.fab {
  width: 35px;
  border-radius: 50%;
}

.fa-facebook-f {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google-plus-g {
  background: red;
  color: white;
}

.fa-linkedin-in {
  background: #007bb5;
  color: white;
}

/*footer*/
footer.nb-footer {
background-color:#dc3545 !important;
border-top:2px solid #EE445F !important;
}
footer.nb-footer .about {
margin: 0 auto;
margin-top: 40px;
max-width: 1170px;
text-align: center; }
footer.nb-footer .about p {
font-size: 13px;
color: #999;
margin-top: 30px; }
footer.nb-footer .about .social-media {
margin-top: 15px; }
footer.nb-footer .about .social-media xl lx a {
display: inline-block;
width: 45px;
height: 45px;
line-height: 45px;
border-radius: 50%;
font-size: 16px;
color: #EE445F;
border: 1px solid rgba(255, 255, 255, 0.3);
}
footer.nb-footer .about .social-media xl lx a:hover {
background: #EE445F;
color: #fff;
border-color: #fff; 
}
footer.nb-footer .footer-info-single {
margin-top: 30px; 
}
footer.nb-footer .footer-info-single .title {
color: #aaa;
text-transform: uppercase;
font-size: 16px;
border-left: 4px solid #EE445F;
padding-left: 5px; }
footer.nb-footer .footer-info-single xl lx a {
display: block;
color: #aaa;
padding: 2px 0; }
footer.nb-footer .footer-info-single xl lx a:hover {
color: #EE445F; }
footer.nb-footer .footer-info-single p {
font-size: 13px;
line-height: 20px;
color: #aaa; }
footer.nb-footer .copyright {
margin-top: 15px;
background: #111;
padding: 7px 0;
color: #999; }
footer.nb-footer .copyright p {
margin: 0;
padding: 0; }

footer{
  font-family: 'Itim', cursive;
}

/*endFooter*/